<header class="header fixed dark">
  <div class="container">
    <div class="row">
      <div class="d-none d-md-inline col-md-4">
        <!-- .quick-menu -->
        <div class="quick-menu">
          <a href="#" class="menu-button">
            <span class="sr-only">Menu</span> <i class="fa fa-bars"></i>
          </a>
        </div>
        <!-- /.quick-menu -->

      </div>

      <div class="col-md-4 col-4 logo text-center">
        <a href="index.html">
          <img class="d-none d-md-block" src="../../../assets/images/logo-light-250x52.png" alt="AP68 logo"/>
          <img class="d-md-none" src="../../../assets/images/logo-light-mobile-137x52.png" alt="AP68 logo"/>
        </a>
      </div>

      <div class="col-md-4 col-8">
        <!-- .default-menu.menu-icons -->
        <div class="default-menu menu-icons">
          <ul>
            <!-- <li class="header-search">
              <a class="option-icon"><span class="sr-only">Search</span><i class="fa fa-search"></i></a>

              <form>
                <input type="text" placeholder="Search"/>
                <button type="submit"><span class="sr-only">Search</span><i class="fa fa-search"></i>
                </button>
              </form>
            </li>
            <li class="has-panel">
              <a class="option-icon" href="#"><span class="sr-only">Sign In</span><i class="fa fa-user"></i></a>

              <div class="header-panel">
                <div class="top">
                  <h3>Sign <strong>In</strong></h3>

                  <p>Sign in Your Account, or <a href="#">Register</a></p>
                </div>

                <div class="form-group">
                  <a href="#" class="btn btn-radius btn-social btn-block btn-facebook">
                    <span class="icon"><i class="fa fa-facebook"></i></span>
                    Login with Facebook
                  </a>
                </div>

                <div class="divider"><span>Or sign up</span></div>

                <form>
                  <div class="form-group half">
                    <input class="form-control input-radius" type="email" placeholder="Email"/>
                  </div>

                  <div class="form-group half">
                    <input class="form-control input-radius" type="password" placeholder="Password"/>
                  </div>

                  <div class="form-group">
                    <button type="submit" class="btn btn-radius btn-block btn-simple-to-border btn-primary">
                      Login <strong>now</strong>
                    </button>
                  </div>
                </form>

                <div class="details text-center">
                  <p>* Denotes mandatory field.<br/>
                    ** At least one telephone number is required.</p>
                </div>
              </div>
            </li>
            <!--<li>
              <a class="option-icon" href="shopping-cart.html">
                <span class="sr-only">Shop</span>
                <span class="cart-count">
											<i class="fi flaticon-paper-bag"></i>
											<span>2</span>
										</span>
              </a>
            </li>-->
            <li class="d-md-none">
              <a href="#" class="option-icon menu-button">
                <span class="sr-only">Menu</span> <i class="fa fa-bars"></i>
              </a>
            </li>
          </ul>
        </div>
        <!-- /.default-menu.menu-icons -->
      </div>
    </div>
  </div>
</header>
<div class="menu-section fullscreen-menu">
  <a href="#" class="menu-button">
    <span class="sr-only">Menu</span> <i class="fa fa-bars"></i>
  </a>

  <div class="inner">
    <a href="#" class="hidden logo">
      <img src="../../../assets/images/logo-gray-250x52.png" alt="AP68 logo"/>
    </a>

    <nav class="menu">
      <ul>
        <li class="has-children active"><a href="#">Home</a>
          <ul>
            <li class="active"><a href="index.html">Home 1</a></li>
            <li><a href="index2.html">Home 2</a></li>
            <li><a href="index3.html">Home 3</a></li>
          </ul>
        </li>
        <li><a href="about.html">About Us</a></li>
        <li class="has-children"><a href="#">Portfolio</a>
          <ul>
            <li><a href="portfolio1.html">Portfolio 1</a></li>
            <li><a href="portfolio2.html">Portfolio 2</a></li>
            <li><a href="portfolio3.html">Portfolio 3</a></li>
            <li><a href="portfolio4.html">Portfolio 4</a></li>
            <li><a href="portfolio5.html">Portfolio 5</a></li>
            <li><a href="portfolio6.html">Portfolio 6</a></li>
            <li><a href="portfolio7.html">Portfolio 7</a></li>
            <li><a href="portfolio-detail1.html">Portfolio detail 1</a></li>
            <li><a href="portfolio-detail2.html">Portfolio detail 2</a></li>
          </ul>
        </li>
        <li class="has-children"><a href="#">Shop</a>
          <ul>
            <li><a href="shop1.html">Shop 1</a></li>
            <li><a href="shop2.html">Shop 2</a></li>
            <li><a href="shop-detail.html">Shop detail</a></li>
            <li><a href="shopping-cart.html">Shopping cart</a></li>
            <li><a href="wishlist.html">Wishlist</a></li>
            <li><a href="compare.html">Compare</a></li>
            <li><a href="checkout.html">Checkout</a></li>
          </ul>
        </li>
        <li><a href="service.html">Our service</a></li>
        <li class="has-children"><a href="#">Blog</a>
          <ul>
            <li><a href="blog.html">Blog</a></li>
            <li><a href="blog-detail.html">Blog detail</a></li>
          </ul>
        </li>
        <li><a href="contact.html">Contact Us</a></li>
      </ul>
    </nav>

    <div class="social">
      <p>Follow Us:</p>

      <ul class="list-inline">
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa fa-behance"></i></a></li>
        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
      </ul>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
<footer class="footer">

  <!-- .top -->
  <div class="top">
    <div class="container">
      <div class="row">

        <!-- .col-md-4 -->
        <article class="col-9">
          <div class="about">
            <img src="../../../assets/images/logo-light-2-250x52.png" alt="AP68 Creative Studio"/>
            <p>We are lorem ipsum dolor sit amet consectuerer adipiscing dolorado set diam benteha utaran
              gauri sidoarjo jepara dolorado we are lorem ipsum dolor sit amet consectuerer adipiscing dolorado
              set diam benteha utaran gauri sidoarjo jepara dolorado.</p>

            <ul class="list-icon">
              <li><i class="fa fa-map-marker"></i> 3600 Last Vegas NV 89109</li>
              <li><i class="fa fa-phone"></i> General info 702-6939-1110</li>
              <li><i class="fa fa-envelope"></i> info@AP68.com</li>
            </ul>
          </div>
        </article>
        <!-- /.col-md-4 -->

        <!-- .col-md-2 -->
        <article class="col-3">
          <h4 class="title">Usefull links</h4>

          <ul class="list-unstyled text-uppercase">
            <li><a href="about.html">About Us</a></li>
            <li><a href="#">Features</a></li>
            <li><a href="#">Privacy policy</a></li>
            <li><a href="#">Gregor store</a></li>
            <li><a href="service.html">Service</a></li>
            <li><a href="portfolio4.html">Photo gallery</a></li>
          </ul>
        </article>
        <!-- /.col-md-2 -->

      </div>
    </div>
  </div>
  <!-- /.top -->

  <!-- .bottom -->
  <div class="bottom">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 copyright text-center">
          <p><span>AP68</span> Made with <i class="fa fa-heart"></i> by <a href="https://themeforest.net/user/kingbid"
                                                                           target="_blank">KingBid</a> &copy; 2016</p>
        </div>

        <div class="col-sm-6 text-right text-center">
          <ul class="list-inline social">
            <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a class="behance" href="#"><i class="fa fa-behance"></i></a></li>
            <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- /.bottom -->

  <a href="#" class="go-to-top"><span class="fa fa-angle-up"></span><span class="sr-only">Go to top</span></a>
</footer>
