<!-- .header-section -->
<section class="header-section middle-wrapper has-bg-layer layer-black bg-img-about">
  <div class="middle-content">
    <div class="container">
      <h1 class="title">Ability</h1>
      <ul class="breadcrumb">
        <li><a routerLink="/" title="Home">Home</a></li>
        <li>/</li>
        <li>Ability</li>
      </ul>
    </div>
  </div>
</section>

<!-- .section -->
<section class="section bg-secondary">
  <div class="container">
    <div class="section-header large-title text-center">
      <div class="row">
        <div class="col-12">
          <img src="../../assets/images/logo-since-1980.png" alt="Since 1980 logo" />

          <h2 class="maintitle">AP68 <strong>Creative Studio</strong></h2>
          <h3 class="subtitle">We Created High Quality Items</h3>

          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit diam, sed diam nonummy nibh
            euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
        </div>
      </div>

      <div class="divider type-1"></div>
    </div>

    <article class="row collapsed description-box">
      <div class="col-md-7">
        <div data-mh class="figure bg-img-webdesign">
          <img class="logo" src="../../assets/images/logo-light-3-250x52.png" alt="AP68 logo" />

          <h3 class="title">Web <strong>Design</strong></h3>
        </div>
      </div>

      <div class="col-md-5">
        <div data-mh class="content right">
          <div class="secondary-headline">
            <h3 class="maintitle">Professional <strong>Team</strong></h3>
            <h4 class="subtitle">8 years experience in design</h4>
          </div>

          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit diam, sed diampetir nonummy
            nibh euismod tincidunt ut laoreet dolore magna aliquam eratidium volutpat. Ut wisi enim
            ad minim veniam consectetuer adipiscing elit diam sed diam nonummy nibh.</p>
        </div>
      </div>
    </article>

    <article class="row collapsed description-box">
      <div class="col-md-7 col-md-push-5">
        <div data-mh class="figure bg-img-development">
          <img class="logo" src="../../assets/images/logo-light-3-250x52.png" alt="AP68 logo" />

          <h3 class="title">Web <strong>Development</strong></h3>
        </div>
      </div>

      <div class="col-md-5 col-md-pull-7">
        <div data-mh class="content left">
          <div class="secondary-headline">
            <h3 class="maintitle">Professional <strong>Team</strong></h3>
            <h4 class="subtitle">8 years experience in design</h4>
          </div>

          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit diam, sed diampetir nonummy
            nibh euismod tincidunt ut laoreet dolore magna aliquam eratidium volutpat. Ut wisi enim
            ad minim veniam consectetuer adipiscing elit diam sed diam nonummy nibh.</p>
        </div>
      </div>
    </article>

    <article class="row collapsed description-box">
      <div class="col-md-7">
        <div data-mh class="figure has-bg-layer layer-black half-opacity bg-img-branding">
          <img class="logo" src="../../assets/images/logo-light-3-250x52.png" alt="AP68 logo" />

          <h3 class="title">Banding <strong>Design</strong></h3>
        </div>
      </div>

      <div class="col-md-5">
        <div data-mh class="content right">
          <div class="secondary-headline">
            <h3 class="maintitle">Professional <strong>Team</strong></h3>
            <h4 class="subtitle">8 years experience in design</h4>
          </div>

          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit diam, sed diampetir nonummy
            nibh euismod tincidunt ut laoreet dolore magna aliquam eratidium volutpat. Ut wisi enim
            ad minim veniam consectetuer adipiscing elit diam sed diam nonummy nibh.</p>
        </div>
      </div>
    </article>
  </div>
</section>
<!-- /.section -->

<!-- .section -->
<section class="row collapsed">
  <div class="col-md-6">
    <section data-mh="half-section" class="section horizontal-space middle-wrapper equalized-section bg-img-make-for-you">
      <div class="middle-content" data-animate="fadeInLeft">
        <div class="featured-content text-center">
          <p class="bottom-space-2">
            <img src="../../assets/images/logo-creative-studio-expedition.png" alt="Creative Studio Expedition logo" />
          </p>

          <div class="featured-title title-small-2 has-corner-line text-center-xs">
            <h2 class="title">We make it <strong>easy</strong> for you to
              experience <strong>creativity</strong></h2>

            <span class="corner corner-1 light-primary large"></span>
          </div>
        </div>
      </div>
    </section>
  </div>

  <div class="col-md-6">
    <section data-mh="half-section" class="section horizontal-space bg-secondary equalized-section">
      <div class="half-wrapper" data-animate="fadeInRight">
        <div class="section-header">
          <h3 class="subtitle">We Work With Passion</h3>
          <h2 class="maintitle">We are <strong>Creative Studio</strong></h2>
        </div>

        <div class="bottom-space-2">
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit diam, sed diam nonummy nibh euismod
            tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam
            consectetuer adipiscing elit diam, sed diam nonummy nibh euismod tincidunt.</p>
        </div>

        <!-- .accordion.action-list.block-type-1.has-arrow -->
        <article id="wecreative" class="accordion action-list block-type-1 has-arrow">
          <!-- TODO: ADD ACCARDION  http://innowin.hu/themes/ap68/service.html -->
        </article>
        <!-- /.accordion.action-list.block-type-1.has-arrow -->
      </div>
      <!-- /.half-wrapper -->
    </section>
  </div>
</section>
<!-- /.section -->
