.pagination {
	display: block;
	font-family: $font-family-secondary;
	
	> li {
		display: inline-block;
		font-size: 20px;
		vertical-align: middle;
		
		&.active {
			font-weight: 700;
		}
		
		> a,
		> span {
			padding: 0 5px;
		}
		
		> span:hover {
			color: lighten($text-color, 30);
		}
	}
}