<!-- .header-section -->
<section class="header-section middle-wrapper has-bg-layer layer-black bg-img-portfolio">
  <div class="middle-content">
    <div class="container">
      <img src="./assets/images/pictures/deer.png" alt="Deer" />

      <h1 class="title">Portfolio</h1>

      <ul class="breadcrumb">
        <li><a routerLink="/" title="Home">Home</a></li>
        <li>/</li>
        <li>Portfolio</li>
      </ul>
    </div>
  </div>
</section>
<!-- /.header-section -->
<!-- /.container-fluid -->
<section class="container-fluid">
  <div class="section half-space text-center">
    <ul class="list-inline button-tab border">
      <li class="has-corner-line" [ngClass]="portfolioType === 'all' ? 'active' : ''">
        <a (click)="filterPortfolioType('all')">All work</a>
        <span class="corner corner-1"></span>
        <span class="corner corner-2"></span>
      </li>
      <li class="has-corner-line" [ngClass]="portfolioType === 'PHP' ? 'active' : ''">
        <a (click)="filterPortfolioType('PHP')">PHP</a>
        <span class="corner corner-1"></span>
        <span class="corner corner-2"></span>
      </li>
      <li class="has-corner-line" [ngClass]="portfolioType === 'Laravel' ? 'active' : ''">
        <a (click)="filterPortfolioType('Laravel')">Laravel</a>
        <span class="corner corner-1"></span>
        <span class="corner corner-2"></span>
      </li>
    </ul>
  </div>
</section>
<!-- /.container-fluid -->
<section id="portfolio" class="row collapsed mediabox-zebra-bottom filter-section">

  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 item">
    <article class="media-box dark has-corner-line">
      <div class="box-content">
        <figure class="item-slider" data-slider-nav="item-slider-nav-1">
          <img src="./assets/images/pictures/portfolio/portfolio-2-5.jpg" alt="" />
        </figure>

        <a href="portfolio-detail2.html" class="box-layer text-center">
          <div class="inner">
            <div class="img">
              <img src="./assets/images/logo-gray-250x52.png" alt="AP68 Creative Studio" />
            </div>

            <h4 class="title">Furniture <strong>Design</strong></h4>

            View all work
          </div>
        </a>
      </div>
      <span class="corner corner-1 primary"></span>
      <span class="corner corner-2 primary"></span>
    </article>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 item">
    <article class="media-box dark has-corner-line">
      <div class="box-content">
        <figure class="item-slider" data-slider-nav="item-slider-nav-1">
          <img src="./assets/images/pictures/portfolio/portfolio-2-5.jpg" alt="" />
        </figure>

        <a href="portfolio-detail2.html" class="box-layer text-center">
          <div class="inner">
            <div class="img">
              <img src="./assets/images/logo-gray-250x52.png" alt="AP68 Creative Studio" />
            </div>

            <h4 class="title">Furniture <strong>Design</strong></h4>

            View all work
          </div>
        </a>
      </div>
      <span class="corner corner-1 primary"></span>
      <span class="corner corner-2 primary"></span>
    </article>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 item">
    <article class="media-box dark has-corner-line">
      <div class="box-content">
        <figure class="item-slider" data-slider-nav="item-slider-nav-1">
          <img src="./assets/images/pictures/portfolio/portfolio-2-5.jpg" alt="" />
        </figure>

        <a href="portfolio-detail2.html" class="box-layer text-center">
          <div class="inner">
            <div class="img">
              <img src="./assets/images/logo-gray-250x52.png" alt="AP68 Creative Studio" />
            </div>

            <h4 class="title">Furniture <strong>Design</strong></h4>

            View all work
          </div>
        </a>
      </div>
      <span class="corner corner-1 primary"></span>
      <span class="corner corner-2 primary"></span>
    </article>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 item">
    <article class="media-box dark has-corner-line">
      <div class="box-content">
        <figure class="item-slider" data-slider-nav="item-slider-nav-1">
          <img src="./assets/images/pictures/portfolio/portfolio-2-5.jpg" alt="" />
        </figure>

        <a href="portfolio-detail2.html" class="box-layer text-center">
          <div class="inner">
            <div class="img">
              <img src="./assets/images/logo-gray-250x52.png" alt="AP68 Creative Studio" />
            </div>

            <h4 class="title">Furniture <strong>Design</strong></h4>

            View all work
          </div>
        </a>
      </div>
      <span class="corner corner-1 primary"></span>
      <span class="corner corner-2 primary"></span>
    </article>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 item">
    <article class="media-box dark has-corner-line">
      <div class="box-content">
        <figure class="item-slider" data-slider-nav="item-slider-nav-1">
          <img src="./assets/images/pictures/portfolio/portfolio-2-5.jpg" alt="" />
        </figure>

        <a href="portfolio-detail2.html" class="box-layer text-center">
          <div class="inner">
            <div class="img">
              <img src="./assets/images/logo-gray-250x52.png" alt="AP68 Creative Studio" />
            </div>

            <h4 class="title">Furniture <strong>Design</strong></h4>

            View all work
          </div>
        </a>
      </div>
      <span class="corner corner-1 primary"></span>
      <span class="corner corner-2 primary"></span>
    </article>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 item">
    <article class="media-box dark has-corner-line">
      <div class="box-content">
        <figure class="item-slider" data-slider-nav="item-slider-nav-1">
          <img src="./assets/images/pictures/portfolio/portfolio-2-5.jpg" alt="" />
        </figure>

        <a href="portfolio-detail2.html" class="box-layer text-center">
          <div class="inner">
            <div class="img">
              <img src="./assets/images/logo-gray-250x52.png" alt="AP68 Creative Studio" />
            </div>

            <h4 class="title">Furniture <strong>Design</strong></h4>

            View all work
          </div>
        </a>
      </div>
      <span class="corner corner-1 primary"></span>
      <span class="corner corner-2 primary"></span>
    </article>
  </div>


</section>
