<!-- .header-section -->
<section class="header-section middle-wrapper has-bg-layer layer-black bg-img-portfolio">
  <div class="middle-content">
    <div class="container">
      <img src="../../assets/images/pictures/deer.png" alt="Deer" />

      <h1 class="title">Portfolio</h1>

      <ul class="breadcrumb">
        <li><a routerLink="/" title="Home">Home</a></li>
        <li>/</li>
        <li>Portfolio</li>
      </ul>
    </div>
  </div>
</section>
<!-- /.header-section -->
<!-- /.container-fluid -->
<section class="container-fluid">
  <div class="section half-space text-center">
    <ul class="list-inline button-tab border" data-filter-tab="portfolio">
      <li class="has-corner-line active">
        <a href="#">All work</a>
        <span class="corner corner-1"></span>
        <span class="corner corner-2"></span>
      </li>
      <li class="has-corner-line">
        <a href="#branding">Branding design</a>
        <span class="corner corner-1"></span>
        <span class="corner corner-2"></span>
      </li>
      <li class="has-corner-line">
        <a href="#photography">Photography</a>
        <span class="corner corner-1"></span>
        <span class="corner corner-2"></span>
      </li>
      <li class="has-corner-line">
        <a href="#webdesign">Web design</a>
        <span class="corner corner-1"></span>
        <span class="corner corner-2"></span>
      </li>
      <li class="has-corner-line">
        <a href="#graphicdesign">Graphic design</a>
        <span class="corner corner-1"></span>
        <span class="corner corner-2"></span>
      </li>
      <li class="has-corner-line">
        <a href="#other">Other+</a>
        <span class="corner corner-1"></span>
        <span class="corner corner-2"></span>
      </li>
    </ul>
  </div>

  <!-- .row.bottom-space-2.filter-section -->
  <div id="portfolio" class="row bottom-space-2 filter-section">
    <div data-animate class="col-md-3 col-sm-6 col-xs-12 item webdesign">
      <a class="invert-zoom" data-lightbox="portfolio-5" href="../../assets/images/pictures/lightbox/lightbox-3-1.jpg">
        <img src="../../assets/images/pictures/lightbox/lightbox-3-1.jpg" alt="" />
      </a>
    </div>

    <div data-animate class="col-md-3 col-sm-6 col-xs-12 item photography other">
      <a class="invert-zoom" data-lightbox="portfolio-5" href="../../assets/images/pictures/lightbox/lightbox-3-2.jpg">
        <img src="../../assets/images/pictures/lightbox/lightbox-3-2.jpg" alt="" />
      </a>
    </div>

    <div data-animate class="col-md-3 col-sm-6 col-xs-12 item other">
      <a class="invert-zoom" data-lightbox="portfolio-5" href="../../assets/images/pictures/lightbox/lightbox-3-3.jpg">
        <img src="../../assets/images/pictures/lightbox/lightbox-3-3.jpg" alt="" />
      </a>
    </div>

    <div data-animate class="col-md-3 col-sm-6 col-xs-12 item photography">
      <a class="invert-zoom" data-lightbox="portfolio-5" href="../../assets/images/pictures/lightbox/lightbox-3-4.jpg">
        <img src="../../assets/images/pictures/lightbox/lightbox-3-4.jpg" alt="" />
      </a>
    </div>

    <div data-animate class="col-md-3 col-sm-6 col-xs-12 item other">
      <a class="invert-zoom" data-lightbox="portfolio-5" href="../../assets/images/pictures/lightbox/lightbox-3-5.jpg">
        <img src="../../assets/images/pictures/lightbox/lightbox-3-5.jpg" alt="" />
      </a>
    </div>
  </div>
  <!-- /.row.bottom-space-2.filter-section -->
</section>
<!-- /.container-fluid -->
