<!-- .slideshow -->
<section class="slideshow">
  <swiper lass="sliders" class="swiper-container" [config]="config">
    <article class="slider fullscreen-section swiper-slide" style="background-image: url('../../assets/images/backgrounds/aries.jpg');">
      <div class="caption">
        <div class="container">
          <div class="featured-content">

            <p class="img">
              <img src="../../assets/images/logo-creative-studio-expedition.png" alt="Creative Studio Expedition logo" />
            </p>

            <div class="featured-title title-large has-corner-line">
              <h1 class="title"><strong>We are</strong> AP68</h1>

              <span class="corner large corner-1 light-primary"></span>
            </div>

            <p class="text">
              <span class="highlighted">We make it easy for you to experience creativity</span>
            </p>

            <a href="#" class="scroll-down">
              <span class="sr-only">Scroll down</span>
              <i class="fa fa-angle-double-down"></i>
            </a>
          </div>
        </div>
      </div>
    </article>
    <article class="slider fullscreen-section" style="background-image: url('../../assets/images/backgrounds/cave.jpg');">
      <div class="caption">
        <div class="container">
          <div class="featured-content">

            <div class="featured-title title-large has-corner-line">
              <h1 class="title"><strong>We are</strong> AP68</h1>

              <span class="corner large corner-1 light-primary"></span>
            </div>

            <p class="text">
              <span class="highlighted">We make it easy for you to experience creativity</span>
            </p>
          </div>
        </div>
      </div>
    </article>
  </swiper>

  <div class="slider-arrows align-middle dark">
    <div class="container">
      <a href="#" class="slick-prev">Previous</a>
      <a href="#" class="slick-next">Next</a>
    </div>
  </div>
  <div class="bottom">
    <div class="container">
      <div class="pull-right"><a href="contact.html">Contact Us <i class="fa fa-angle-right"></i></a></div>
    </div>
  </div>
</section>
<!-- /.slideshow -->

<!-- .section -->
<section class="section">
  <div class="container">
    <div class="section-header text-center">
      <div class="row">
        <div class="col-12 mx-auto">
          <div class="bottom-space">
            <img src="../../assets/images/logo-dark-250x52.png" alt="AP68 Creative Studio logo" />
          </div>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit diam, sed diam nonummy nibh
            euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
        </div>
      </div>

      <div class="divider type-1"></div>
    </div>
    <!-- TODO: add tabs see http://preview.themeforest.net/item/ap68-creative-multipurpose-html5-template/full_screen_preview/19446921?redirect_back=true&ref=cirvitis/images/backgrounds/aries.jpg  -->
  </div>
</section>
<!-- /.section -->

<!-- .container-fluid.no-gap-xs.section.bg-secondary -->
<!-- TODO: add tabs see http://preview.themeforest.net/item/ap68-creative-multipurpose-html5-template/full_screen_preview/19446921?redirect_back=true&ref=cirvitis/images/backgrounds/aries.jpg  -->
<!-- /.container-fluid.no-gap-xs.section.bg-secondary -->

<!-- .section -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-sm-6" data-animate="fadeInLeft">
        <figure>
          <img src="../../assets/images/pictures/we-are-creative-studio.jpg" alt="We are Creative Studio" />
        </figure>
      </div>

      <div class="col-sm-6" data-animate="fadeInRight">
        <div class="section-header">
          <h3 class="subtitle">We Work With Passion</h3>
          <h2 class="maintitle">We are <strong>Creative Studio</strong></h2>
        </div>

        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit diam, sed diam nonummy nibh euismod
          tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam
          consectetuer adipiscing elit diam, sed diam nonummy nibh euismod tincidunt.</p>

        <blockquote class="has-corner-line">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit diam, sed diam nonummy
          nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
          <span class="corner corner-1"></span>
          <span class="corner corner-2"></span>
        </blockquote>

        <p>Consectetuer adipiscing elit diam, sed diam nonummy nibh euismod tincidunt ut laoreet dolore
          magna aliquam erat volutpat.</p>

        <p><a href="about.html" class="btn btn-angular btn-border-to-simple btn-secondary">Work with Us</a></p>
      </div>
    </div>
  </div>
</section>
<!-- /.section -->

<!-- .section -->
<section class="section bg-img-your-success">
  <div class="container">
    <div class="featured-content text-center" data-animate="fadeInUp">
      <p class="img">
        <img src="../../assets/images/logo-ultimate-originality.png" alt="Ultimate Originality logo" />
      </p>

      <div class="featured-title has-corner-line">
        <h1 class="title"><strong>We help</strong> your success</h1>

        <span class="corner large corner-1 light-primary"></span>
      </div>

      <div class="row">
        <div class="col-12 mx-auto">
          <div class="text">
            <p class="highlighted">We make it easy for you to experience creativity</p>

            <p>Consectetuer adipiscing elit diam, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
          </div>

          <p>
            <a href="about.html" class="btn btn-lg btn-angular btn-border-to-simple btn-primary">Work with us</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /.section -->

<!-- .partner-carousel -->
<!-- TODO: add carusel see http://preview.themeforest.net/item/ap68-creative-multipurpose-html5-template/full_screen_preview/19446921?redirect_back=true&ref=cirvitis/images/backgrounds/aries.jpg  -->
<!-- /.partner-carousel -->

<!-- .section -->
<!-- TODO: WHY COOSE US -->
<!-- /.section -->

<!-- .partner-carousel -->
<!-- TODO: Counter -->
<!-- /.partner-carousel -->

<!-- .section.bg-secondary -->
<!-- /.section.bg-secondary -->

<!-- .section-bar -->
<section class="section-bar has-bg-layer layer-black bg-img-awesome-site">
  <div class="container">
    <div class="row">
      <div class="col-md-9 text-center">
        <div class="featured-title title-small has-corner-line">
          <h3 class="title">We created <strong>awesome &amp; powerful</strong> website for you</h3>

          <span class="corner corner-1 light"></span>
          <span class="corner corner-2 light"></span>
        </div>
      </div>
      <div class="col-md-3 text-right text-center-sm text-center-xs">
        <p>
          <a href="#" class="btn btn-lg btn-simple-to-border btn-white">Purchase theme</a>
        </p>
      </div>
    </div>
  </div>
</section>
<!-- /.section-bar -->

<!-- .container-fluid.no-gap-xs.section -->
<!-- TODO: ADD BLOGS -->
<!-- /.container-fluid.no-gap-xs.section -->
